.container {
    display: flex;
    flex-wrap: wrap;
}

.leftContainer {
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.lotterieName {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.lotterieInformations {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.lotterieInformations p {
    font-size: 20px;
}

.lotterieInformations .info {
    font-weight: bold;
    font-size: 20px;
}

select {
    width: 215px;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    border: none;
}

.rigthContainer {
    width: 70%;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    height: 100vh;
    text-align: center;
}

.numbersContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.numbers {
    background-color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-weight: bold;
}

@media(max-width: 850px) {
    .leftContainer {
        width: 100%;
        height: 50vh;
    }

    .rigthContainer {
        width: 100%;
        min-height: 50vh;
        max-width: fit-content;
        gap: 30px;
    }

    .container {
        flex-direction: column;
    }
}
@media(max-width: 500px){
    .numbers{
        width: 60px;
        height: 60px;
    }
}