.container{
    display: flex;
}
.leftContainer{
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--megaSena);
    flex-direction: column;
}
.rigthContainer{
    background-color: var(--gray);
}
.lotterieName{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.lotterieInformations{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.lotterieInformations p{
    font-size: 20px;
}
.lotterieInformations .info{
    font-weight: bold;
    font-size: 20px;
}
select{
    width: 215px;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    outline: none;
    border: none;
}