@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --megasena: #6BEFA3;
  --quina: #8666EF;
  --lotofacil: #DD7AC6;
  --lotomania: #FFAB64;
  --timemania: #5AAD7D;
  --diadesorte: #BFAF83;
  --gray: #EFEFEF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}